$font1: "Roboto", sans-serif;
$font2: "Lays";
$resolution: 1920;
$resolution2: 768;


a{
	text-decoration: none;
}
html{
	height: 100%;
}

body{
	color: #000;
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
	background: #ffffff;
	height: 100%;
}

.container{
	margin: 0 auto;
	position: relative;
}

.wrapper{
	overflow: hidden;
}


.footer-block{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: vw(10) vw(38) vw(38) vw(70);
	background: #ffffff;
	width: 100%;
	box-sizing: border-box;
	@include media((
					padding: (md: vw2(20) vw2(24) vw2(24) vw2(31))
	));
	.woman{
		width: vw(168);
		display: block;
		@include media((
						width: (md: vw2(168))
		));
		img{
			width: 100%;
			display: block;
		}
	}
	.share{
		display: block;
		width: vw(30);
		@include media((
						width: (md: vw2(30))
		));
		position: relative;
		svg{
			width: 100%;
			display: block;
		}
		&:hover{
			svg {
				path {
					fill: #b2d612;
				}
			}
		}
		.social-wrapper{
			max-width: vw(45);
			top: 0;
			right: vw(-15);
			margin-top: vw(-18);
			position: absolute;
			display: block;
			overflow: hidden;
			border-radius: vw(15);
			z-index: 15;
			padding-right: vw(45);
			transition: all 0.3s linear;
			@include media((
							margin-top: (md: vw2(-18)),
							max-width: (md: vw2(45)),
							right: (md: vw2(-15)),
							padding-right: (md: vw2(45)),
							border-radius: (md: vw2(15)),
			));
		}
		.social-block{
			display: flex;
			align-items: center;
			padding: vw(10);
			@include media((
							padding: (md: vw2(10))
			));
			a{
				width: vw(46);
				height: vw(46);
				display: block;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				cursor: pointer;
				@include media((
								width: (md: vw2(46)),
								height: (md: vw2(46)),
				));
				&.fb{background-image: url("../img/fb_red.svg")}
				&.vk{background-image: url("../img/vk-red.svg")}
				&.ok{background-image: url("../img/ok_red.svg")}
				&.tw{background-image: url("../img/tw_red.svg")}
				&:hover{
					transform: scale(1.1);
				}
				+a{
					margin-left: vw(10);
					@include media((
									margin-left: (md: vw2(10)),
									height: (md: vw2(46))
					));
				}
			}
		}
		&:hover{
			.social-wrapper{
				max-width: vw(300);
				@include media((
								max-width: (md: vw2(300)),
				));
			}
		}
	}
}

.home-page{
	height: 100%;
	.top-block{
		padding: vw(30) vw(70);
		display: flex;
		align-items: flex-start;
		box-sizing: border-box;
		@include media((
						padding: (md: vw2(30) 0 vw2(45) vw2(19)),
						min-height: (md: vw2(200))
		));
		.logo{
			display: block;
			width: vw(131);
			min-width: vw(131);
			@include media((
							width: (md: vw2(131)),
							min-width: (md: vw2(131))
			));
			img{
				width: 100%;
				display: block;
			}
		}
		.tabs{
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			margin-left: vw(90);
			@include media((
							margin-left: (md: vw2(30))
			));
			.tab{
				border-radius: vw(25);
				border: 1px solid #e1e1e1;
				background-color: #ffffff;
				color: #000000;
				font-size: vw(20);
				line-height: vw(20);
				font-weight: 500;
				letter-spacing: vw(0.36);
				padding: vw(14) vw(30);
				cursor: pointer;
				transition: all 0.1s linear;
				user-select: none;
				margin-top: vw(20);
				margin-right: vw(16);
				@include media((
								border-radius: (md: vw2(25)),
								font-size: (md: vw2(20)),
								line-height: (md: vw2(20)),
								letter-spacing: (md: vw2(0.36)),
								padding: (md: vw2(14) vw2(25)),
								margin-top: (md: vw2(12)),
								margin-right: (md: vw2(9)),
								order: (md: 4)
				));
				&.order-1{@include media((order: (md: 1)));}
				&.order-2{@include media((order: (md: 2)));}
				&.order-3{@include media((order: (md: 3)));}
				&:hover{
					background-color: #b2d612;
					color: #fefefe;
				}
				&.active{
					color: #fefefe;
					background-color: #b2d612;
				}
			}
		}
	}

	.bottom-block{
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 9;
		@include media((
						position: (md: static),
						min-height: (md: vw2(81)),
		));
	}

	.promo-block{
		pointer-events: none;
		position: fixed;
		bottom: 0;
		left: vw(626);
		z-index: 10;
		@include media((
						left: (md: vw2(284))
		));
		.flex-block{
			display: flex;
			align-items: flex-end;
			.label{
				width: vw(310);
				color: #b2d612;
				font-family: $font2;
				font-size: vw(30);
				font-weight: 700;
				margin-bottom: vw(35);
				@include media((
								width: (md: vw2(200)),
								font-size: (md: vw2(18)),
								margin-bottom: (md: vw2(20))
				));
			}
			.img{
				pointer-events: auto;
				display: block;
				width: vw(359);
				transition: transform 0.3s ease;
				transform-origin: center bottom;
				@include media((
								width: (md: vw2(215)),
								margin-left: (md: vw2(-20)),
				));
				img{
					display: block;
					width: 100%;
				}
				&:hover{
					transform: scale(1.1);
				}
			}
		}
	}

	.main-container{
		@include media((
						height: (md: calc(100% - (281/768) *100vw )),
		));
		.recepts{
			padding-right: vw(135);
			@include media((
							padding-right: (md: vw2(0)),
							height: (md: 100%),
			));
			.non-swiper-slide{
				display: none !important;
			}
			.swiper-slide{
				width: auto;
				user-select: none;
			}
			.arrow-right{
				width: vw(100);
				height: vw(72);
				border-radius: vw(36);
				background: url(../img/arrow-right.png) center right vw(24) no-repeat;
				background-size: vw(29) auto;
				cursor: pointer;
				animation: 0.5s infinite alternate arrowLR;
				@include media((
								width: (md: vw2(100)),
								height: (md: vw2(72)),
								border-radius: (md: vw2(36)),
								background-size: (md: vw2(29) auto),
								background-position: (md: center right vw2(24)),
								animation-name: (md: arrowLR_mob),
				));
				&::after{
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					z-index: -1;
					background: #ffd200;
					transition: transform 0.25s linear;
					border-radius: vw(36);
					@include media((
									border-radius: (md: vw2(36)),
					));
				}
				&:hover{
					&::after{
						transform: scale(1.1);
					}
				}
			}
			.first-slide{
				margin-left: vw(81);
				position: relative;
				height: vw(634);
				@include media((
								margin-left: (md: vw2(0)),
								height: (md: 100%),
				));
				.flex-mobile{
					@include media((
									width: (md: 100%),
									height: (md: 100%),
									display: (md: flex),
									flex-direction: (md: column),
									align-items: (md: center),
					));
				}
				.title{
					color: #b2d612;
					font-family: $font2;
					font-size: vw(110);
					font-weight: 700;
					line-height: 0.8;
					@include media((
									font-size: (md: vw2(110)),
									text-align: (md: center),
									width: (md: vw2(500)),
									margin: (md: 0 auto),
					));
				}
				.slide-content{
					margin-top: vw(57);
					margin-left: vw(113);
					width: vw(550);
					@include media((
									margin: (md: vw2(22) auto 0),
									width: (md: vw2(550)),
					));
					.flex-block{
						display: flex;
						align-items: flex-start;
						.avatar{
							width: vw(168);
							min-width: vw(168);
							margin-top: vw(12);
							@include media((
											width: (md: vw2(168)),
											min-width: (md: vw2(168)),
											margin-top: (md: vw2(11)),
							));
							img{
								display: block;
								width: 100%;
								border-radius: 100%;
							}
						}
						.right{
							margin-left: vw(19);
							@include media((
											margin-left: (md: vw2(19))
							));
							.role{
								color: #8a8a8a;
								font-size: vw(20);
								line-height: vw(20);
								@include media((
												font-size: (md: vw2(20)),
												line-height: (md: vw2(20)),
								));
							}
							.name{
								color: #000000;
								font-size: vw(40);
								font-weight: 500;
								margin-top: vw(15);
								margin-bottom: vw(15);
								@include media((
												font-size: (md: vw2(40)),
												margin-top: (md: vw2(15)),
												margin-bottom: (md: vw2(15)),
								));
							}
							.text{
								color: #8a8a8a;
								font-size: vw(20);
								font-weight: 400;
								line-height: vw(30);
								@include media((
												font-size: (md: vw2(20)),
												line-height: (md: vw2(30)),
								));
							}
						}
					}
					.main-text{
						margin-top: vw(45);
						color: #000000;
						font-size: vw(22);
						font-weight: 400;
						line-height: vw(30);
						@include media((
										margin-top: (md: vw2(45)),
										font-size: (md: vw2(22)),
										line-height: (md: vw2(30)),
						));
						p{
							+p{
								margin-top: vw(20);
								@include media((
												margin-top: (md: vw2(20))
								));
							}
						}
					}
				}
				.arrow-right{
					position: absolute;
					right: 0;
					top: vw(324);
					@include media((
									top: (md: auto),
									right: (md: auto),
									position: (md: relative),
									margin-top: (md: vw2(45)),
					));
				}
			}
			.item{
				margin-left: vw(135);
				width: vw(929);
				height: vw(634);
				display: block;
				@include media((
								margin-left: (md: 0),
								width: (md: vw2(100%)),
								height: (md: 100%),
				));
				.full-cover{
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					background-color: rgba(0, 0, 0, 0.3);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center top;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					position: relative;
					z-index: 1;
					cursor: pointer;
					@include media((
									justify-content: (md: flex-start),
									padding-top: (md: vw2(260)),
					));
					&::before{
						z-index: -1;
						content: "";
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.3);
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						transition: background-color 0.25s ease;
					}
					&:hover{
						&::before{
							background-color: rgba(0, 0, 0, 0.45);
						}
						.open{
							padding: vw(19) vw(32);
							margin-bottom: 0;
							border-radius: vw(30);
							@include media((
											padding: (md: vw2(19) vw2(32)),
											border-radius: (md: vw2(30)),
							));
						}
					}
				}

				.title{
					color: #ffffff;
					font-family: $font2;
					font-size: vw(52);
					font-weight: 700;
					width: vw(760);
					@include media((
									font-size: (md: vw2(52)),
									width: (md: vw2(700)),
					));
				}
				.open{
					margin-top: vw(39);
					display: inline-block;
					border-radius: vw(25);
					background-color: #ffd200;
					transition: all 0.25s ease;
					color: #000000;
					font-size: vw(20);
					font-weight: 500;
					line-height: 1;
					letter-spacing: vw(0.36);
					padding: vw(14) vw(25);
					margin-bottom: vw(10);
					@include media((
									margin-top: (md: vw2(39)),
									border-radius: (md: vw2(25)),
									font-size: (md: vw2(20)),
									letter-spacing: (md: vw2(0.36)),
									padding: (md: vw2(14) vw2(25)),
					));
					img{
						width: vw(22);
						height: vw(22);
						display: inline-block;
						vertical-align: middle;
						margin-right: vw(13);
						@include media((
										width: (md: vw2(22)),
										height: (md: vw2(22)),
										margin-right: (md: vw2(13)),
						));
					}
				}
				.arrow-right{
					position: absolute;
					right: vw(-117);
					top: vw(324);
					@include media((
									display: (md: none),
					));
				}
				&:last-child{
					.arrow-right{
						display: none;
					}
				}
			}


			.swiper-pagination{
				bottom: vw2(18);
				.swiper-pagination-bullet {
					width: vw2(15);
					height: vw2(15);
					background: #ffffff;
					opacity: 1;
					margin: 0 vw2(2.5);
					&.swiper-pagination-bullet-active{
						background-color: #ffd200;
					}
				}
			}

		}
	}
}

.recept-page{
	.logo{
		display: block;
		width: vw(131);
		background: #ffffff;
		padding: vw(30) vw(21) vw(34);
		position: fixed;
		left: vw(83);
		top: 0;
		z-index: 3;
		@include media((
						width: (md: vw2(131)),
						left: (md: vw2(28)),
						padding: (md: vw2(30) vw2(21) vw2(34)),
		));
		img{
			display: block;
			width: 100%;
		}
	}

	.first-screen{
		position: relative;
		width: 100vw;
		height: 100vh;
		z-index: 1;
		.center-content{
			position: relative;
			z-index: 3;
			width: vw(960);
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
			@include media((
							width: (md: vw2(700)),
							height: (md: 100%),
							justify-content: (md: space-between),
							padding: (md: vw2(70) 0 vw2(150)),
			));
			.go-home{
				display: inline-block;
				border-radius: vw(25);
				border: vw(2) solid #ffffff;
				font-size: vw(20);
				font-weight: 500;
				letter-spacing: vw(0.36);
				color: #ffffff;
				line-height: 1;
				padding: vw(12) vw(26) vw(14);
				margin-top: vw(127);
				@include media((
								margin-top: (md: vw2(0)),
								font-size: (md: vw2(20)),
								border-radius: (md: vw2(25)),
								letter-spacing: (md: vw2(0.36)),
								padding: (md: vw2(12) vw2(26) vw2(14)),
								border:  (md: vw2(2) solid #ffffff),
								align-self: (md: flex-end)
				));
				&:hover{
					background: #ffffff;
					color: #000000;
				}
			}
			.title{
				color: #ffffff;
				font-family: $font2;
				font-size: vw(70);
				font-weight: 700;
				text-align: center;
				margin-top: vw(170);
				@include media((
								margin-top: (md: vw2(0)),
								font-size: (md: vw2(70)),
				));
			}
			.open{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: vw(120);
				@include media((
								margin-top: (md: vw2(50)),
				));
				.arrow-down{
					width: vw(74);
					height: vw(100);
					background: url("../img/arrow-down.png") center bottom vw(21) no-repeat;
					background-size: vw(27) auto;
					cursor: pointer;
					border-radius: vw(36);
					position: relative;
					animation: 0.5s infinite alternate arrowTD;
					@include media((
									width: (md: vw2(74)),
									height: (md: vw2(100)),
									border-radius: (md: vw2(36)),
									background-size: (md: vw2(27) auto),
									background-position: (md: center bottom vw2(21) ),
									animation-name: (md: arrowTD_mob ),
					));
					&::after{
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						z-index: -1;
						background: #ffd200;
						transition: transform 0.25s linear;
						border-radius: vw(36);
						@include media((
										border-radius: (md: vw2(36)),
						));
					}
					&:hover{
						&::after{
							transform: scale(1.1);
						}
					}
				}
				.label{
					color: #ffffff;
					font-size: vw(20);
					font-weight: 500;
					letter-spacing: vw(0.36);
					margin-top: vw(15);
					@include media((
									margin-top: (md: vw2(15)),
									font-size: (md: vw2(20)),
									letter-spacing: (md: vw2(0.36)),
					));
				}
			}
		}
	}

	.recept-block{
		display: flex;
		padding: vw(81) vw(86) 0;

		@include media((
						display: (md: block),
						padding: (md: vw2(21)),
		));
		.left{
			width: vw(874);
			@include media((
							width: (md: auto),
			));
			.img{
				width: 100%;
				height: 100vh;
				position: absolute;
				top: 0;
				left: 0;
				transition: all  .38s ease-in-out;
				z-index: -1;
				&::before{
					z-index: 2;
					content: "";
					width: 100%;
					height: 100%;
					display: block;
					background: #000000;
					opacity: 0.5;
					position: absolute;
					left: 0;
					top: 0;
					transition: opacity 0.5s ease;
				}
				img{
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center top;
				}
				&.is-sticky{
					position: fixed;
					height: auto;
					top: calc(50% - 14.1vw);
					left: vw(86);
					width: vw(874);
					@include media((
									position: (md: static),
									width: (md: 100%),
					));
					&::before{
						opacity: 0;
					}
				}
			}
		}

		.right{
			margin-left: vw(110);
			width: vw(760);
			@include media((
							margin-left: (md: 0),
							width: (md: auto),
							padding-left: (md: vw2(14)),
							padding-top: (md: vw2(39))
			));
			.tags{
				display: flex;
				flex-wrap: wrap;
				.tag{
					display: inline-block;
					color: #000000;
					font-size: vw(20);
					font-weight: 500;
					letter-spacing: vw(0.36);
					border-radius: vw(25);
					border: 1px solid #e1e1e1;
					background-color: #ffffff;
					padding: vw(12) vw(30) vw(12);
					@include media((
									font-size: (md: vw2(20)),
									letter-spacing: (md: vw2(0.36)),
									border-radius: (md: vw2(25)),
									padding: (md: vw2(12) vw2(30) vw2(12)),
					));
					+.tag{
						margin-left: vw(17);
						@include media((
										margin-left: (md: 17),
						));
					}
				}
			}
			.second-title{
				color: #000000;
				font-family: $font2;
				font-size: vw(65);
				font-weight: 700;
				line-height: vw(65);
				margin-top: vw(30);
				@include media((
							font-size: (md: vw2(65)),
							margin-top: (md: vw2(30)),
							line-height: (md: vw2(65)),
				));
			}
			.time{
				display: flex;
				align-items: center;
				margin-top: vw(40);
				@include media((
								margin-top: (md: vw2(40)),
				));
				img{
					display: block;
					width: vw(26);
					margin-right: vw(11);
					@include media((
									width: (md: vw2(26)),
									margin-right: (md: vw2(11)),
					));
				}
				span{
					color: #000000;
					font-size: vw(20);
					line-height: vw(30);
					@include media((
									font-size: (md: vw2(20)),
									line-height: (md: vw2(30)),
					));
				}
			}
			.table-row{
				margin-top: vw(42);
				display: flex;
				@include media((
								margin-top: (md: vw2(42)),
				));
				.col{
					min-width: vw(150);
					box-sizing: border-box;
					padding: 0 vw(30);
					text-transform: uppercase;
					text-align: center;
					@include media((
									min-width: (md: vw2(150)),
									padding: (md:  0 vw2(30)),
					));
					.img{
						display: inline-block;
						height: vw(29);
						width: vw(28);
						@include media((
										height: (md: vw2(29)),
										width: (md:  vw2(28)),
						));
						img{
							display: block;
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}
					.label{
						font-size: vw(18);
						font-weight: 400;
						line-height: 1;
						margin-top: vw(11);
						@include media((
										font-size: (md: vw2(18)),
										margin-top: (md:  vw2(11)),
						));
					}
					.value{
						font-family: $font2;
						font-size: vw(36);
						font-weight: 700;
						margin-top: vw(6);
						@include media((
										font-size: (md: vw2(36)),
										margin-top: (md:  vw2(6)),
						));
					}
					.mera{
						font-size: vw(20);
						line-height: 1;
						margin-top: vw(8);
						@include media((
										font-size: (md: vw2(20)),
										margin-top: (md:  vw2(8)),
						));
					}
					&.kal{
						padding-left: vw(9);
						@include media((
										padding-left: (md: vw2(13)),
						));
					}
					+.col{
						position: relative;
						&::before{
							content: "";
							display: block;
							width: 2px;
							height: vw(129);
							background: #a2a2a2;
							opacity: 0.2;
							position: absolute;
							left: -1px;
							top: vw(14);
							@include media((
											height: (md: vw2(129)),
											top: (md: vw2(14)),
							));
						}
					}
				}
			}
			.text-block{
				margin-top: vw(50);
				@include media((
								margin-top: (md: vw2(50)),
				));
				.block{
					@include media((
									padding-left: (md: vw2(24)),
					));
					+.block{
						margin-top: vw(57);
						@include media((
										margin-top: (md: vw2(57)),
						));
					}
					&.sostav{
						box-shadow: 0 0 vw(38) rgba(0, 0, 0, 0.04);
						border-radius: vw(15);
						background-color: #ffffff;
						padding: vw(40) vw(40) vw(47) vw(47);
						margin-left: vw(-47);
						@include media((
										box-shadow: (md: 0 0 vw2(38) rgba(0, 0, 0, 0.04)),
										border-radius: (md: vw2(15)),
										padding: (md: vw2(40) vw2(40) vw2(47) vw2(47)),
										margin-left: (md: vw2(-23)),
						));
					}
					.title{
						font-size: vw(22);
						font-weight: 700;
						margin-bottom: vw(45);
						text-transform: uppercase;
						@include media((
										font-size: (md: vw2(22)),
										margin-bottom: (md: vw2(45)),
						));
					}
					.text {
						font-size: vw(20);
						line-height: vw(30);
						@include media((
										font-size: (md: vw2(20)),
										line-height: (md: vw2(30)),
						));
					}
					.list {
						width: vw(634);
						@include media((
										width: (md: vw2(634)),
						));
						.row{
							overflow: hidden;
							&::after {  content:'............................................................................................................................................................................................................................................................................................................';
								display: block;
								white-space: nowrap;
								overflow: hidden;
								color: #a2a2a2;
								font-size: vw(11);
								margin-top: vw(5);
								@include media((
												font-size: (md: vw2(11)),
												margin-top: (md: vw2(5)),
								));
							}
							span{
								&:first-of-type{
									float: left;
								}
								&:last-of-type{
									float: right;
								}
							}
							+.row{
								margin-top: vw(15);
								@include media((
												margin-top: (md: vw2(15)),
								));
							}
						}
					}
					ol {
						list-style: none;
						counter-reset: my-awesome-counter;
						max-width: vw(560);
						@include media((
										max-width: (md: vw2(560)),
						));
						li {
							counter-increment: my-awesome-counter;
							&::before {
								content: counter(my-awesome-counter) ".";
								font-weight: 700;
								width: vw(35);
								display: inline-block;
								font-size: vw(22);
								@include media((
												width: (md: vw2(35)),
												font-size: (md: vw2(22)),
								));
							}
							+li{
								margin-top: vw(30);
								@include media((
												margin-top: (md: vw2(30)),
								));
							}
						}
					}
				}
			}
		}
	}

	.promo-block{
		margin-top: vw(104);
		width: 100%;
		height: vw(1055);
		background: url("../img/bottom-bg.jpg") center top no-repeat;
		background-size: cover;
		position: relative;
		box-sizing: border-box;
		@include media((
						margin-top: (md: vw2(30)),
						height: (md: auto),
						padding: (md: vw2(626) vw2(25) vw2(6)),
						background-image: (md: url("../img/bg-bottom-2.jpg")),
		));
		.text-block{
			width: vw(798);
			height: vw(737);
			box-shadow: 0 0 vw(57) rgba(81, 38, 0, 0.08);
			border-radius: vw(30);
			background-color: #ffffff;
			position: absolute;
			top: vw(170);
			left: vw(250);
			padding: vw(89) vw(80) vw(10) vw(96);
			box-sizing: border-box;
			@include media((
							width: (md: 100%),
							height: (md: 100%),
							box-shadow: (md: 0 0 vw2(57) rgba(81, 38, 0, 0.08)),
							border-radius: (md: vw2(30)),
							position: (md: relative),
							left: (md: 0),
							top: (md: 0),
							padding: (md: vw2(89) vw2(50) vw2(47) vw2(34)),

			));
			.title{
				color: #ffd200;
				font-family: $font2;
				font-size: vw(70);
				font-weight: 700;
				line-height: vw(70);
				@include media((
								font-size: (md: vw2(70)),
								line-height: (md: vw2(70)),
				));
			}
			.text{
				font-size: vw(22);
				line-height: vw(33);
				margin-top: vw(37);
				@include media((
								font-size: (md: vw2(22)),
								line-height: (md: vw2(33)),
								margin-top: (md: vw2(37)),
				));
				p{
					+p{
						margin-top: vw(24);
						@include media((
										margin-top: (md: vw2(24)),
						));
					}
				}
			}
		}
		.subtext{
			color: #a8a8a8;
			font-size: vw(15);
			margin-top: vw(29);
			@include media((
							font-size: (md: vw2(15)),
							margin-top: (md: vw2(29)),
			));
		}
		.img-1{
			position: absolute;
			width: vw(241);
			left: vw(464);
			top: vw(-111);
			@include media((
							width: (md: vw2(241)),
							left: (md: vw2(441)),
							top: (md: vw2(-111)),
			));
		}
	}
	.bottom-block{
		padding-top:vw(27);
		justify-content: flex-end;
		.woman{
			position: fixed;
			left: vw(104);
			bottom: vw(31);
			z-index: 3;
			filter: invert(1);
			transition: filter 0.3s ease;
			&.is-sticky{
				filter: invert(0);
			}
			@include media((
							left: (md: vw2(49)),
							bottom: (md: vw2(24)),
			));
		}
		@include media((
						display: (md: flex),
						padding-top: (md: vw2(27)),
		));
	}
}



@keyframes arrowLR {
	from {background-position: center right vw(24);}
	to {background-position: center right vw(48);}
}
@keyframes arrowLR_mob {
	from {background-position: center right vw2(24);}
	to {background-position: center right vw2(48);}
}

@keyframes arrowTD {
	from {background-position: center bottom vw(21);}
	to {background-position: center bottom vw(51);}
}
@keyframes arrowTD_mob {
	from {background-position: center bottom vw2(21);}
	to {background-position: center bottom vw2(51);}
}

